<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Welcome <%= current_user.email %></h1>
    <p class="lead">This is client management system dashboard.</p>
  </main>
</div>
